*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family:  'Roboto', sans-serif;
}


.banner{
    background-color: #1CD1B0;
    height: 38px;
    padding: 10px;

    font-size: 15px;
    font-weight: 400;
}

.heroes{
    background-color: #00669F;
    height: 101px;
    padding-top: 28px;
    padding-left: 28px;
    padding-bottom: 26px;
    
    font-size: 40px;
    font-weight: 400;
    
}
.contenedor{
    align-items: center;
    display: flex;
    justify-content:center;
    position: relative;
    top: 154px;
    flex-wrap: wrap;
    margin: 0 20px;
    gap: 10px;
    
       
}

.padding{
    padding: 10px;
}

.batman{
background-color: #F3F3F3;
height: 536px;
width: 300px;
}

.harley{
background-color: #F3F3F3;
height: 536px;
width: 300px;
}

.ver{
background-color:#00669F;
color: white;
width: 128.78px;
height: 48.52px;
padding-top: 15px;
position:relative;
text-align: center;
top: 5px;
left: 85px;
}

footer{
    
    background-color: #00669F;
    color: white;
    height: 51px;
    position:relative;
    top: 675px;
}
  .avatar{
      border-radius: 50%;
      position: relative;
      top: -50px;
      left: 50px;
  }

  .cora{
      position:relative;
      top: -270px;
      left: 15px;
  }

  @media screen {
      
  }